@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #f1f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #131339;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  max-width: 463px;
  width: 100%;
}

.select-all {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #b70000; 
  border: 2px solid #b70000; 
  border-radius: 0; 
  padding: 12px 20px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 50px;
  background-color: transparent;
}

.select-all:hover,
.submit-choices:hover {
  background-color: #b70000; 
  color: #fff; 
}

.preferences h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.preference-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #fff;
  padding: 20px 15px;
  border-radius: 8px;
}

.preference-item span {
  display: flex;
  align-items: center;
  max-width: 70%;
  line-height: 1.5;
}

.preference-item i {
  margin-right: 10px;
}

.always-active {
  color: #aaa;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 26px;
}

.toggle-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #d2d9ef;
  background-color: #f1f4fd;
  border-radius: 32px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 2px;
  border: 1px solid #d2d9ef;
  background-color: #b70000;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #b70000;
}

input:checked + .slider:before {
  transform: translateX(20px);
  background-color: #f1f4fd;
}

.buttons {
  display: flex;
  gap: 20px;
  margin: 30px auto;
}

.submit-choices {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #b70000;
  color: #fff;
  border: none;
  border-radius: 32px;
  padding: 20px 30px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: -20px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(183, 0, 0, 0.8); 
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  text-align: center;
  z-index: 1000;
}
